@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 20px;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  /* animated gradient background*/
  background-image: linear-gradient(
    -45deg,
    #a7a748 0%,
    #48a78dff 53%,
    #27a0f5ff 100%
  );
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* mainly just a place to have the logo  */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 13%;
}

/* logo part that says naughts and crosses */
.logo {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-size: 70px;
  color: #fff;
  font-style: normal;
}

footer {
  background-color: teal;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin-top: auto;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 22px;
  font-style: italic;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.button {
  font-size: 14;
  padding: 10px 20px;
  border-radius: 90px;
  cursor: pointer;
  border: 0;
}

.reset-button {
  padding: 10px 20px;
  border-radius: 90px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  font-size: 14px;
  transition: all 0.5s ease;
}

.reset-button:hover {
  letter-spacing: 3px;
  background-color: #02929c;
  color: hsl(0, 0%, 100%);
  box-shadow: #02929c 0px 7px 29px 0px;
}

.reset-button:active {
  letter-spacing: 3px;
  background-color: #02929c;
  color: hsl(0, 0%, 100%);
  box-shadow: #02929c 0px 7px 29px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.square {
  background: rgb(211, 239, 249);
  border: 1px double #001547;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  width: 50px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  font-family: "Almendra", serif;
  font-weight: 400;
}

.board-row {
  display: flex;
  justify-content: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  text-align: center;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* this does the little glass effects around the game, as well as 
centering the elements in that little square */

.game-container {
  width: 40%;
  height: 80%;
  border-top: 2px solid #ffffff75;
  border-left: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  background: #ffffff25;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  padding: 20px;
}

.game-info {
  padding-top: 10px;
  text-align: center;
}
